<div class="list-group w-auto">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      
      <div class="w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Luagres Turisticos</h6>
         
        </div>
     
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      
        <div class="w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Lagos</h6>
           
          </div>
       
        </div>
    </a>
      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      
        <div class="w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Pueblos magicos</h6>
           
          </div>
       
        </div>
      </a>
</div>
